*{
    margin:0;
    padding: 0;
}
body {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



nav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f0f24;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.name{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    color: white;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
   
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.cont {
    animation: slideInFromLeft 1s ease-out;
}

.imag {
    animation: slideInFromRight 1s ease-out;
}

.cont{
    width: 60vh;
    margin-top: 20vh;
}
.first{
    font-size: 5vh;
    font-family:"Montserrat", sans-serif; 
}

.wave {
    display: inline-block;
    animation: wave 1s infinite;
    transform-origin: 70% 70%;
}
@keyframes wave {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-20deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}


.second{
    margin-top: 4px;
    font-weight:bolder;
    font-weight: 300;
    font-size: 4vh;
    font-family:"Montserrat", sans-serif; 
}
#nam{
    color: #f1c66e;
}
.third{
    margin-top: 4px;
    font-weight:bolder;
    font-weight: 300;
    font-size: 3vh;
    font-family:"Montserrat", sans-serif; 
    color: #f1c66e;
}
.fourth{
    margin-top: 3vh;
    font-weight:bolder;
    font-weight: 300;
    font-size: 2.3vh;
    font-family:"Montserrat", sans-serif; 
    font-weight: 400;
}
#hire-btn{
    background-color: #f1c66e;
    height: 4vh;
    border: none; 
    border-radius: 5px;
    font-size: 2vh;
    padding-left: 20px; 
    padding-right: 20px;
    margin:10px;
    color: #000;
    font-weight: bold;
    margin-top: 5vh;
}
.soshi{
    width: 60%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;

}
#icon{
    color: #f5e8d1;
        font-size: 3vh;
}



#title{
    margin: 10px;
}
#career{
    background: linear-gradient(to top, #f5e8d1 0%, #f1c66e 100%);
    border: none; 
    font-size: large;
    padding-left: 20px; 
    padding-right: 20px;
    /* margin:10px; */
}
#learn{
    font-size:smaller; 
    text-decoration: none; 
    color: white;
}
.logo{
    padding-left: 20px;
}
.bar{
    /* display: block; */
    padding-right: 20px;
    padding-top: 5px;


}
.bar a{
    padding-inline: 20px;
    text-decoration: none;
    color: white;
    
}
#menu-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0f0f24;
    z-index: 1000; 
}

#menu-links a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
#me{
    padding-left:2px ;
    padding-right: 2px;
    border-radius: 5px;
    border: none;
}

.imag {
    position: relative;
    margin-top: 10vh;
    
}


.back {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1c66e;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    z-index: 0; 
    box-shadow: 0 0 30px 10px rgba(241, 198, 110, 0.8); 
}

#image {
    position: relative;
    z-index: 1; /* Ensure the image is on top of the background */
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

#cv-btn {
    height: 30px;
    color: white;
    max-width: 150px;
    background: transparent;
    border: 2px solid #f5e8d1;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: medium;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

#cv-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f5e8d1;
    box-sizing: border-box;
    transition: width 1.3s, background-color 1.3s;
    z-index: -1;
}

#cv-btn:hover::before {
    width: 100%;
    background: #f5e8d1;
    transition: width 1.3s, background-color 1.3s;
}

#cv-btn:hover {
    color: #000;
    background: transparent;
    z-index: 1;
}



#butt{
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none;
}
#but{
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none; 
    position: relative;
}
#but::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}
/* to show the tect on top */
#but span {
    position: relative;
    z-index: 1;
    color: white; /* Text color */
}

#buto {
    position: relative;
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none; 
    text-align: center;
    overflow: hidden;
}

#buto::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
/* to show the tect on top */
#buto span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#buto span i {
    margin-right: 5px;
}



@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#about {
    animation: fadeInUp 1s ease-out;
}

#skills {
    animation: fadeInUp 1s ease-out;
    animation-delay: 0.5s;
}

.about{
    background: linear-gradient(to right, #464555 0%, #0f0f24 100%);
    padding-bottom: 1%;
    padding-top: 2%;
    padding-left: 7px;
    padding-right: 7px;
}
.InnerAbout{
    width: 86%;
    margin: auto;
}
#abot{
    text-align: center; 
    font-size: 30px; 
    color: #f1c66e;
    font-weight: bold
}

.skills{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
}

#skill{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family:"Montserrat", sans-serif; 
    margin-top: 7px;
    font-weight:800
}


@keyframes fadeInUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.proj-container {
    animation: fadeInUp 1s ease-out;
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);

}

.pics {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.pics:nth-child(1) {
    animation-delay: 0.2s;
}

.pics:nth-child(2) {
    animation-delay: 0.4s;
}

.pics:nth-child(3) {
    animation-delay: 0.6s;
}

.pics:nth-child(4) {
    animation-delay: 0.8s;
}

.pics:nth-child(5) {
    animation-delay: 1s;
}

.pics:nth-child(6) {
    animation-delay: 1.2s;
}


.projects{
    width: 92%;
    display: flex;
    margin-top: 20px;
    color: white;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
    margin: auto;
}
#proje{
    text-align: center;
    font-size: 25px; 
    color: #f1c66e; 
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 20px;
}
.project{
    border-right: 1px solid #f5e8d1; 
    padding-right: 10px;
    margin-bottom: 20px; 
    width:20%

}



/* General container styling */
.pic-container {
    width: 100%;
    margin-left: 3%;
    height: auto;
    display: flex;
    flex-wrap: wrap; /* Ensure the images wrap within the container */
    justify-content: space-between;
}

.proj, .projo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.pics {
    flex: 1 1 calc(33.333% - 10px);
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #f5e8d1;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: 75%;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pics img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

/* Hover effect */
.pics:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pics:hover::before {
    content: '→';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2em;
    opacity: 0.7;
    pointer-events: none;
}

/* Pop-up styling */
.popup {
    display: none; /* Hidden by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    z-index: 1000; /* Ensure it's on top */
    overflow: auto;
    padding: 20px;
}

.popup img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.popup .details {
    margin-top: 20px;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f5e8d1;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    border-radius: 50%;
    /* padding: 5px 10px; */
}

.overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999; /* Ensure it's behind the popup but on top of other content */
}

@media (max-width: 768px) {
    .pics{
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480) {
    .pic {
        flex: 1 1 100%;
    }
}



.contact-contianer{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    display: flex;
    justify-content: space-around;
}
.contact{
    background:transparent;
    border: 1px solid #f5e8d1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    animation: fadeIn 1s ease-out;
}
.contact_info {
    width: 100%;
    border-right: 1px solid #f5e8d1; 
    padding-right: 10px; 
}
#social{
    color: white;
   font-family:"Montserrat", sans-serif; 
    font-weight: bold;
    margin-top: 20px;
}
.handles{
    margin-left: 13px;
    padding: 4px;

}
#handle{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family:"Montserrat", sans-serif; 

}
.message{
    background: transparent;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    overflow: hidden;
}

#box{
    margin-top: 7px;
    height: 20px;
    margin: 0.5%; 
    padding: 5px; 
    background: transparent;
    border: 1px solid #f5e8d1;
    border-radius: 5px;
    overflow: hidden;
    width: 95%;
}

#textbox{
    margin-top: 7px;
    background: transparent;
    border: 1px solid #f5e8d1;
    border-radius: 5px;
    width: 95%;
    height: 90px;
    margin: 0.5%; 
    padding: 5px; 
}
.box-wrap{
    text-align: center;
    
}
#send{
    margin-bottom: 7px;
    background: #f5e8d1;
    height: 20px;
    color: #000;
    max-width: 150px;
    border: 1px solid #f5e8d1;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 18px;
    font-size: small;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


#contactMe{
    text-align: center;  
    font-size: 25px; 
    color: #f5e8d1; 
    font-weight: bolder;
    padding-bottom: 10px;
}
.contact_info, .message {
    opacity: 0;
    animation: slideUp 1s ease-out forwards;
}

.contact_info {
    animation-delay: 0.5s;
}

.message {
    animation-delay: 1s;
}

@media screen and (max-width: 768px) {
    .name {
        flex-direction: column;
        align-items: center;
    }

    .imag {
        order: -1; /* Move the image section to the top */
        margin-top: -20vh;
    }
    .back {
        margin-top: 9.3vh;
        margin-left: 0.5vh;
        height: 30vh; 
        width: 31vh; 
    }

    #image {
        max-height: 35vh; 
        max-width: 35vh; 
    }
    .cont {
        width: 80%; 
        margin-top: -24vh; 
        text-align: center; 
    }
    #abot{
        font-size: 20px;
    }
    .first {
            font-size: 3vh; 
    }
    .second {
        font-size: 2.8vh; 
    }

    .third {
        font-size: 2.8vh; 
    }

    .fourth {
        font-size: 1.9vh; 
    }
    #hire-btn {
        margin-top: 0vh; 
    }
    .soshi {
        width: 60%;
        margin-top: 0vh; 
        margin-left: 19%;

    }
    
}
