*{
    margin:0;
    padding: 0;
}
body {
    font-family:  'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



nav{
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #0f0f24;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.name{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    color: white;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
}
.cont{
    width: 60vh;
    margin-top: 20vh;
}
.first{
    font-size: 5vh;
    font-family:"Montserrat", sans-serif; 
}
.second{
    margin-top: 4px;
    font-weight:bolder;
    font-weight: 300;
    font-size: 7vh;
    font-family:"Montserrat", sans-serif; 
}
.third{
    margin-top: 4px;
    font-weight:bolder;
    font-weight: 300;
    font-size: 3vh;
    font-family:"Montserrat", sans-serif; 
    color: #f1c66e;
}
.fourth{
    margin-top: 3vh;
    font-weight:bolder;
    font-weight: 300;
    font-size: 2.3vh;
    font-family:"Montserrat", sans-serif; 
    font-weight: 400;
}
#hire-btn{
    background-color: #f1c66e;
    height: 4vh;
    border: none; 
    border-radius: 5px;
    font-size: 2vh;
    padding-left: 20px; 
    padding-right: 20px;
    margin:10px;
    color: #000;
    font-weight: bold;
    margin-top: 5vh;
}
.soshi{
    width: 60%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;

}
#icon{
    color: #f5e8d1;
        font-size: 3vh;
}



#title{
    margin: 10px;
}
#career{
    background: linear-gradient(to top, #f5e8d1 0%, #f1c66e 100%);
    border: none; 
    font-size: large;
    padding-left: 20px; 
    padding-right: 20px;
    /* margin:10px; */
}
#learn{
    font-size:smaller; 
    text-decoration: none; 
    color: white;
}
.logo{
    padding-left: 20px;
}
.bar{
    /* display: block; */
    padding-right: 20px;
    padding-top: 5px;


}
.bar a{
    padding-inline: 20px;
    text-decoration: none;
    color: white;
    
}
#menu-links {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #0f0f24;
    z-index: 1000; /* Ensure the menu is on top of other content */
}

#menu-links a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}
#me{
    padding-left:2px ;
    padding-right: 2px;
    border-radius: 5px;
    border: none;
}

.imag {
    position: relative;
    margin-top: 10vh;
}

.back {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1c66e;
    height: 40vh;
    width: 40vh;
    border-radius: 50%;
    z-index: 0; /* Ensure the background is behind the image */
}

#image {
    position: relative;
    z-index: 1; /* Ensure the image is on top of the background */
    height: 50vh;
    width: 50vh;
    border-radius: 50%;
}

#cv-btn {
    height: 30px;
    color: white;
    max-width: 150px;
    background: transparent;
    border: 2px solid #f5e8d1;
    border-radius: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px 10px;
    font-size: medium;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

#cv-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #f5e8d1;
    box-sizing: border-box;
    transition: width 1.3s, background-color 1.3s;
    z-index: -1;
}

#cv-btn:hover::before {
    width: 100%;
    background: #f5e8d1;
    transition: width 1.3s, background-color 1.3s;
}

#cv-btn:hover {
    color: #000;
    background: transparent;
    z-index: 1;
}



#butt{
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none;
}
#but{
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none; 
    position: relative;
}
/* to show the shadow over the background color */
#but::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

}
/* to show the tect on top */
#but span {
    position: relative;
    z-index: 1;
    color: white; /* Text color */
}

#buto {
    position: relative;
    width: 30%;
    height: 35px;
    margin: 0.5%;
    /* padding: 5px; */
    background: #f5e8d1;
    border: none; 
    text-align: center;
    overflow: hidden;
}
/* to show the shadow over the background color */
#buto::before{ 
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;

}
/* to show the tect on top */
#buto span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

#buto span i {
    margin-right: 5px;
}


.about{
    background: linear-gradient(to right, #464555 0%, #0f0f24 100%);
    padding-bottom: 1%;
    padding-top: 2%;
    padding-left: 7px;
    padding-right: 7px;
    
}
#abot{
    text-align: center; 
    font-size: 30px; 
    color: white; 
    font-weight: bold
}



.skills{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: large;
}

.proj-container{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    
}
.projects{
    /* width: 98%; */
    display: flex;
    margin-top: 20px;
    color: white;
    font-size: large;
    padding-left: 1%;
    padding-right: 1%;
}
.project{
    border-right: 1px solid #f5e8d1; 
    padding-right: 10px;
    margin-bottom: 20px; 
    width:30%

}

.pic-container{
 width: 100%;
 margin-left: 3%;
 height: 250px;
}
.proj{
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
}
.projo{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}
.pics {
    display: inline-block;
    height: 100%; /* Set the desired height */
    width:30%; /* Set the desired width */
    overflow: hidden; /* Ensure that images do not overflow the container */
    border: 1px solid #f5e8d1;
}

.pics img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}



#skill{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family:"Montserrat", sans-serif; 
    margin-top: 7px;
    font-weight:800
}
.contact-contianer{
    background: linear-gradient(to right, #0f0f24 0%, #464555 100%);
    display: flex;
    justify-content: space-around;
}
.contact{
    background:transparent;
    border: 1px solid #f5e8d1;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.contact_info {
    width: 100%;
    border-right: 1px solid #f5e8d1; 
    padding-right: 10px; 
}
#social{
    color: white;
   font-family:"Montserrat", sans-serif; 
    font-weight: bold;
    margin-top: 20px;
}
.handles{
    margin-left: 13px;
    padding: 4px;

}
#handle{
    color: #fff;
    margin-left: 10px;
    text-decoration: none;
    font-size: 14px;
    font-family:"Montserrat", sans-serif; 

}
.message{
    background: transparent;
    width: 100%;
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 5px;
    overflow: hidden;
}

#box{
    margin-top: 7px;
    height: 20px;
    margin: 0.5%; 
    padding: 5px; 
    background: transparent;
    border: 1px solid #f5e8d1;
    border-radius: 5px;
    overflow: hidden;
    width: 95%;
}

#textbox{
    margin-top: 7px;
    background: transparent;
    border: 1px solid #f5e8d1;
    border-radius: 5px;
    width: 95%;
    height: 90px;
    margin: 0.5%; 
    padding: 5px; 
}
.box-wrap{
    text-align: center;
    
}
#send{
    margin-bottom: 7px;
    background: #f5e8d1;
    height: 20px;
    color: #000;
    max-width: 150px;
    border: 1px solid #f5e8d1;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 1px 18px;
    font-size: small;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    overflow: hidden;
    z-index: 0;
}

@media screen and (max-width: 768px) {
    .name {
        flex-direction: column;
        align-items: center;
    }

    .imag {
        order: -1; /* Move the image section to the top */
        margin-top: -20vh;
    }
    .back {
        margin-top: 9.3vh;
        margin-left: 0.5vh;
        height: 30vh; 
        width: 31vh; 
    }

    #image {
        max-height: 35vh; 
        max-width: 35vh; 
    }
    .cont {
        width: 80%; 
        margin-top: -24vh; 
        text-align: center; 
    }
    #abot{
        font-size: 20px;
    }
    .first {
            font-size: 3vh; 
    }
    .second {
        font-size: 2.8vh; 
    }

    .third {
        font-size: 2.8vh; 
    }

    .fourth {
        font-size: 1.9vh; 
    }
    #hire-btn {
        margin-top: 0vh; 
    }
    .soshi {
        margin-top: 0vh; 
        margin-left: 19%;
    }

    }
